# Log level
LOG_LEVEL=INFO
# API port
API_PORT=8000
API_HOST="0.0.0.0" # API host
# Notification service URL for webhook notifications
NTFY_URL=https://ntfy.your-ntfy-server.com 
# NTFY Topic for webhook notifications
NTFY_TOPIC=your-ntfy-topic 

# CRONJOBS
# Lista separada por comas de las monedas fiat extra
BINANCE_EXTRA_FIATS=PEN,ARS
# Expresión Cron genérica para las monedas extra (ej: cada 3 horas)
BINANCE_EXTRA_CRON="0 */3 * * *"
# Ejemplo: Cada 30 minutos todos los días para el par nativo
BINANCE_VES_CRON="*/30 * * * *"
# Ejecuta todos los días a las 12:00 AM (Medianoche)
BCV_CRON="0 0 * * *"