# virtual enviroment
venv/
.venv/

# cache
__pycache__/
*pyc

# Tests
*.coverage
.pytest_cache/

# environtment
*.env

# logs
logs/
.log

# Database
instance/
*.db
*.db-shm
*.db-wal

# Repomix
*.egg-info
repomix-output.xml

# Frontend build
node_modules/
npm-debug.log*
package-lock.json