version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_dolar
    restart: always
    ports:
      - "${API_PORT:-8000}:8000"
    env_file:
      - .env
    volumes:
      - ./instance:/instance
      - ./logs:/logs
